
    <div class="container">
      <h1 class="display-1">Buscador</h1>
      <p class="lead">Placa :  {{termino}}</p>
      <p class="lead">Horarios de pico y placa en la ciudad de Quito</p>
    </div>
  
<div class="row" *ngIf="horarios.length == 0">

    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el termino {{termino}}
        </div>

    </div>

</div>

<hr class=" animated  fadiIn">

<div class="container">

    <div class="card-columns">
        <div class="card" *ngFor="let horario of horarios; let i =index">
            <div class="row">
                <div class="col-6">
                    <img class="card-img-top" [src]="horario.img1" alt="Card image cap">
                </div>
                <div class="col-6">
                    <img class="card-img-top" [src]="horario.img2" alt="Card image cap">
                </div>
            </div>
            <div class="card-body">
              <h4 class="card-title">{{horario.dia}} </h4>
              <h4 class=""> Placa : {{horario.placa}} </h4>
              <p class="card-text">Su horario de circulacion es de: </p>
              <p >{{horario.temprano_uno}} - {{horario.temprano_dos}} </p>
              <p>{{horario.tarde_uno}} - {{horario.tarde_dos}}</p>
              <button  
              
              type="button" class="btn btn-outline-primary btn-block" [routerLink]="['home','']" >Entendido</button>
            </div>
        
        
      </div>


</div>